# AWS S3 Direct Upload Configuration
FILE_DRIVER=s3
BUCKET_NAME=
AWS_REGION=

# Optional: Leave empty on AWS (EC2, ECS, Lambda) to use IAM Role credentials
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

PRESIGNED_URL_EXPIRY=600
