name: Publish to GitHub Packages

on:
    push:
        branches:
            - main

permissions:
    contents: read
    packages: write

jobs:
    publish:
        name: Publish to GitHub Packages
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "20.x"
                  registry-url: "https://npm.pkg.github.com"
                  scope: "@th3hero"

            - name: Install dependencies
              run: npm ci

            - name: Build
              run: npm run build

            - name: Create .npmrc file
              run: |
                  echo "@th3hero:registry=https://npm.pkg.github.com/" >> .npmrc
                  echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" >> .npmrc

            - name: Publish to GitHub Packages
              run: npm publish --access public
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
