name: Publish Over NPM

on:
  release:
    types: [created]

permissions:
  id-token: write
  contents: read
  packages: write

jobs:
    npm-publishing:
        name: Publish Over NPM
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Setup NodeJS
              uses: actions/setup-node@v4
              with: 
                node-version: '20.x'
                registry-url: 'https://registry.npmjs.org/'

            - name: Install Dependencies
              run: npm ci

            - name: Build
              run: npm run build

            - name: Publish to NPM
              run: npm publish --access public --provenance
              env:
                NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

            - name: Create .npmrc file
              run: |
                echo "@th3hero:registry=https://npm.pkg.github.com/" >> .npmrc
                echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" >> .npmrc

            - name: Publish to GitHub Packages
              run: npm publish --access public --provenance
              env:
                NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}